html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}


h2 {
    font-family: 'futura-pt-bold';
    font-size: 1.9rem;
    text-align: center;
    color: #404040;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-family: 'futura-pt-bold';
    font-size: 1.5rem;
    text-align: center;
    color: #404040;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

p {
    font-family: 'futura-pt';
    font-size: 1.3rem;
    line-height: 1.6em;
    color: #929292 ;
}

.header {
    height: 6.25rem; /* ca. 100px */
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 5;
    box-shadow: 0px 2px 6.5px rgb(243, 243, 243);
}

.header img {
    max-height: 100%; 
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em;
}

.header .fa-globe {
    position: absolute;
    z-index: 5;
    top: 50%; right: 10%;
    transform: translate(50%, -60%);
    color: rgb(92, 174, 212);
    cursor: pointer;
}

.header .fa-globe:hover {
    color:rgb(84, 152, 184);
}


.languageWrap{
    visibility:hidden;
    opacity:0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%; right: 10%;
    transform: translate(50%, 20%);
    gap: 5px;
    margin: auto;
    z-index: 5;
    background-color: #ebebeb93;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(202, 202, 202);
    padding: 1rem 0.5rem;
    transition: 0.2s;
}

.languageBtn {
    width: 5rem;
    margin: auto;
    padding: 0.3rem 0.6rem;
    font-family: 'futura-pt';
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #757575;
}

.languageBtn:hover {
    background-color: rgb(92, 174, 212);
    color: white;
}

.languageBtn:active{
    background-color: rgb(84, 152, 184);
    color: white;

}

.fillImg img {
    align-items: center;
    width: 100%;
    height: 100%;
}

.description {
    padding: 20px 50px;
    max-width: 1000px;
    margin: auto;
}

.description .description_ita {
    position: relative;
}

/* Aggiungo bordo inferiore */
.description .description_ita:before{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0px;
    height: 1px;
    width: 50%;
    border-bottom:2.5px solid #c5c5c5 ;
}

.description p {
    text-align: center;
    padding-bottom: 2.5rem;
}


.contacts {
    padding: 20px 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.contacts .contacts--row {
    /* display: flex;
    flex-direction:row;
    justify-content: left;
    gap: 20px;
    padding: 0.9rem ;
    align-items: center;
    height: 100%; */
    max-width: 300px;
    /* column-count: 2; */
    /* column-width: 100px; */
    margin: auto;
    text-align: center;
}


.contacts--row p {
    font-size: 1.1rem;
    padding: 0.9rem ;
}

.fa-solid {
    font-size: 1.4rem;
    color:#404040;
}


.footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-family: 'futura-pt';
    line-height: 1.3rem;
    text-align: center;
    padding: 1.5rem 0;
}


.footer p {
    font-size: 0.9rem;
}



/* PROPRIETA' AGGIUNTIVE */

.center {
    text-align: center;
}

.overlay {
    position:relative;
  }
  
.overlay:before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.05);
    z-index:2;
}

/* MEDIA QUERIES */

@media screen and (max-width:700px) {

    html{ font-size: 12px;
    }
    
}